/*.bit
/*.html
/*.txt
/*.mcs
/*.cmd
/*.pad
/*.log
/*.lso
/*.ngr
/*.ut
/*.xml
/*.xpi
/*.xrpt
/*.xwbt
/*.syr
/*.twr
/*.xwbt
/*.csv
/*.stx
/*.bak
/*.ngd
/*.bld
/templates
/*.ngc
/*.pcf
/*.ini
/*.exe
/*.ncd
/*.bgn
/*.unroutes
/xst
/*.ngm
/*.twx
/*.map
/isim
/_xmsgs
/*.mrp
/*.mdb
/*.xsl
/*.xst
/*.drc
/*.ptwx
/*.wdb
/*.par
/*.cfi
/*.prj
/xlnx*
/iseconfig
/*.gist
/*.cmd_log
/*.wcfg
/*.gise
/_ngo
/*_xdb
/Wave
/*.prm
/*.xmsgs
*.sublime*
sdram_*
*.bak
*/tmp/*
*/_xmsgs/*
