################################################################################
# BCFG I/O Ports
################################################################################

NET  "IO1[1]"     PULLUP;    # MISO prom
NET  "IO1[2]"     PULLUP;    # MOSI prom
NET  "IO1[3]"     PULLUP;    # SCLK prom
NET  "IO1[4]"     PULLUP;    # /CS prom
