CONFIG VCCAUX=3.3;

################################################################################
# Main I/O Ports
################################################################################
NET  "IO1[1]"     LOC = " D22"    | IOSTANDARD = "LVCMOS33" | PULLUP;  #MISO prom_qla
NET  "IO1[2]"     LOC = " D21"    | IOSTANDARD = "LVCMOS33" | PULLUP;  #MOSI
NET  "IO1[3]"     LOC = " D20"    | IOSTANDARD = "LVCMOS33" | PULLUP;  #SCLK
NET  "IO1[4]"     LOC = " D19"    | IOSTANDARD = "LVCMOS33" | PULLUP;  #/EEPROM
NET  "IO1[5]"     LOC = " C22"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[6]"     LOC = " C20"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[7]"     LOC = " C19"    | IOSTANDARD = "LVCMOS33" | PULLUP;  # /MV-FLT (QLA 1.4+)
NET  "IO1[8]"     LOC = " B22"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[9]"     LOC = " B21"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[10]"    LOC = " B20"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[11]"    LOC = " A21"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[12]"    LOC = " G7"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[13]"    LOC = " F7"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[14]"    LOC = " E6"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[15]"    LOC = " H4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[16]"    LOC = " F5"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[17]"    LOC = " E5"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[18]"    LOC = " D5"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[19]"    LOC = " E4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[20]"    LOC = " B3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[21]"    LOC = " A2"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[22]"    LOC = " B2"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[23]"    LOC = " C4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[24]"    LOC = " B1"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[25]"    LOC = " D3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[26]"    LOC = " C3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[27]"    LOC = " D2"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[28]"    LOC = " E3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[29]"    LOC = " G4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[30]"    LOC = " F3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[31]"    LOC = " G3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO1[32]"    LOC = " F2"     | IOSTANDARD = "LVCMOS33" | PULLUP;

NET  "IO2[1]"     LOC = "Y14"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[2]"     LOC = "V13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[3]"     LOC = "AB14"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[4]"     LOC = "AA14"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[5]"     LOC = "Y13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[6]"     LOC = "AB13"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[7]"     LOC = "Y12"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[8]"     LOC = "W13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[9]"     LOC = "U10"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[10]"    LOC = "AA12"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[11]"    LOC = "AB10"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[12]"    LOC = "AB11"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[13]"    LOC = "Y11"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[14]"    LOC = "V9"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[15]"    LOC = "Y10"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[16]"    LOC = "AA10"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[17]"    LOC = "AB9"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[18]"    LOC = "AB8"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[19]"    LOC = "Y9"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[20]"    LOC = "AA8"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[21]"    LOC = "AB7"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[22]"    LOC = "V7"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[23]"    LOC = "Y8"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[24]"    LOC = "Y7"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[25]"    LOC = "AB6"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[26]"    LOC = "Y6"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[27]"    LOC = "Y5"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[28]"    LOC = "AA6"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[29]"    LOC = "W6"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[30]"    LOC = "AB5"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[31]"    LOC = "AB4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[32]"    LOC = "AA4"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[33]"    LOC = "Y4"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[34]"    LOC = "W4"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[35]"    LOC = "Y3"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[36]"    LOC = "AB3"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[37]"    LOC = "AB2"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "IO2[38]"    LOC = "AA2"     | IOSTANDARD = "LVCMOS33" | PULLUP;

################################################################################
# Clock Inputs
#   29.4989 MHz clock removed (not populated) starting in FPGA Rev 1.2
################################################################################
# NET  "clk29m"     LOC = "M3"      | IOSTANDARD = "LVCMOS33" | TNM_NET = "CLK_IN29x";
# TIMESPEC "TS_CLK_IN29x" = PERIOD "CLK_IN29x" 33.9080 ns HIGH 50% INPUT_JITTER 100.0ps;
NET  "clk40m"     LOC = "AB12"    | IOSTANDARD = "LVCMOS33" | TNM_NET = "CLK_IN40x" | CLOCK_DEDICATED_ROUTE = FALSE;
TIMESPEC "TS_CLK_IN40x" = PERIOD "CLK_IN40x" 25.0000 ns HIGH 50% INPUT_JITTER 100.0ps;

################################################################################
# IEEE-1394 Interface
################################################################################
NET  "ctl[0]"     LOC = "C13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "ctl[1]"     LOC = "A12"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[0]"    LOC = "A15"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[1]"    LOC = "A14"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[2]"    LOC = "C11"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[3]"    LOC = "C10"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[4]"    LOC = "A13"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[5]"    LOC = "C14"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[6]"    LOC = "B10"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "data[7]"    LOC = "A11"     | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "lreq"       LOC = "B14"     | IOSTANDARD = "LVCMOS33";
NET  "reset_phy"  LOC = "A6"      | IOSTANDARD = "LVCMOS33";
NET  "clk1394"    LOC = "A10"     | IOSTANDARD = "LVCMOS33" | TNM_NET = "CLK_IN1394x";
TIMESPEC "TS_CLK_IN1394x" = PERIOD "CLK_IN1394x" 20.345 ns HIGH 50% INPUT_JITTER 100.0ps;

################################################################################
# Serial Interface
################################################################################
NET  "RxD"        LOC = "V1"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "TxD"        LOC = "V2"      | IOSTANDARD = "LVCMOS33";
NET  "RTS"        LOC = "W1"      | IOSTANDARD = "LVCMOS33" | PULLUP;
# NET  "CTS"        LOC = "Y1"      | IOSTANDARD = "LVCMOS33";
# NET  "RI"         LOC = "R1"      | IOSTANDARD = "LVCMOS33";
# NET  "DCD"        LOC = "T1"      | IOSTANDARD = "LVCMOS33";
# NET  "DTR"        LOC = "T2"      | IOSTANDARD = "LVCMOS33" | PULLUP;
# NET  "DSR"        LOC = "U1"      | IOSTANDARD = "LVCMOS33";

################################################################################
# SPI Interface to M25P16 PROM
################################################################################
NET  "XCCLK"      LOC = "Y21"     | IOSTANDARD = "LVCMOS33" | PULLUP |  DRIVE=24;
NET  "XMISO"      LOC = "AA20"    | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "XMOSI"      LOC = "AB20"    | IOSTANDARD = "LVCMOS33";
NET  "XCSn"       LOC = "T5"      | IOSTANDARD = "LVCMOS33";

################################################################################
# LED Output
################################################################################
NET  "LED"        LOC = "N22"     | IOSTANDARD = "LVCMOS33";
################################################################################
# Board ID
################################################################################
NET  "wenid[0]"   LOC = "P5"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "wenid[1]"   LOC = "M4"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "wenid[2]"   LOC = "N3"      | IOSTANDARD = "LVCMOS33" | PULLUP;
NET  "wenid[3]"   LOC = "N4"      | IOSTANDARD = "LVCMOS33" | PULLUP;

################################################################################
# Soft JTAG
################################################################################
# NET  "SOFT_TCK"   LOC = "V19"     | IOSTANDARD = "LVCMOS33" | PULLUP;
# NET  "SOFT_TDI"   LOC = "Y19"     | IOSTANDARD = "LVCMOS33" | PULLUP;
# NET  "SOFT_TDO"   LOC = "W18"     | IOSTANDARD = "LVCMOS33" | PULLUP;
# NET  "SOFT_TMS"   LOC = "V18"     | IOSTANDARD = "LVCMOS33" | PULLUP;

# NET  "DEBUG[0]"   LOC = "V18"     | IOSTANDARD = "LVCMOS33";
# NET  "DEBUG[1]"   LOC = "V19"     | IOSTANDARD = "LVCMOS33";
# NET  "DEBUG[2]"   LOC = "W18"     | IOSTANDARD = "LVCMOS33";
# NET  "DEBUG[3]"   LOC = "Y19"     | IOSTANDARD = "LVCMOS33";
